<% layout('layouts/boilerplate')%>

<section id="services" class="services section imp-docs">
  
  <div class="container mt-2">    
      <div class="section-title" data-aos="fade-up">
        <h2> UNION LETTER </h2>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6" data-aos="fade-up">
          <div class="icon-box">
            <a id="title-submit1.1" ><div class="icon"><i class="bi bi-book-half"></i></div></a>
            
            <h4 class="title"><a id="title-submit1" > GS-AIRF </a></h4>

        </div> 
        </div>
     

        <div class="col-lg-6 col-md-6" data-aos="fade-up">
          <div class="icon-box">
            <a id="title-submit2.1" ><div class="icon"><i class="bi bi-book-half"></i></div></a>

            <h4 class="title"><a id="title-submit2" > GS-WREU </a></h4>

        </div> 
        </div>

        <div class="col-lg-6 col-md-6" data-aos="fade-up">
          <div class="icon-box">
            <a id="title-submit3.1" ><div class="icon"><i class="bi bi-book-half"></i></div></a>

            <h4 class="title"><a id="title-submit3" > DS-BVP </a></h4>

        </div> 
        </div>
     
      </div>
    </div>    
  </section><!-- End Services Section -->

  <script>
  
  let button1 = document.getElementById('title-submit1');
  
    button1.onclick = function() {
    button1.setAttribute("href","/imp-docs?category=GS-AIRF");  
    
  }
  let button11 = document.getElementById('title-submit1.1');
  
  button11.onclick = function() {
  button11.setAttribute("href","/imp-docs?category=GS-AIRF");  
  
}
  let button2 = document.getElementById('title-submit2');
    
    button2.onclick = function() {
    button2.setAttribute("href","/imp-docs?category=GS-WREU");  
 
  }
  let button21 = document.getElementById('title-submit2.1');
  
  button21.onclick = function() {
  button21.setAttribute("href","/imp-docs?category=GS-WREU");  
  
}
  let button3 = document.getElementById('title-submit3');
    
    button3.onclick = function() {
    button3.setAttribute("href","/imp-docs?category=DS-BVP");  
 
  }
  let button31 = document.getElementById('title-submit3.1');
  
  button31.onclick = function() {
  button31.setAttribute("href","/imp-docs?category=DS-BVP");  
  
}
    
  </script>
